---
import { getCollection } from "astro:content";
import Nav from "../components/Nav.astro";
import SocialMedias from "../components/SocialMedias.astro";

const bio = await getCollection("bio");
const routes = await getCollection("routes");

const profile = bio[0];
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- set the language to brazilian portuguese -->
    <title>{profile.data.name}</title>
  </head>
  <body>
    <main class="flex flex-col items-center justify-center p-4 pt-10">
      <Nav />
      <ul class="grid grid-cols-3 gap-1 pt-20 max-w-[640px] w-full">
        {
          routes.map((p) => (
            <li>
              <p>{p.data.title}</p>
            </li>
          ))
        }
      </ul>
      <SocialMedias />
    </main>
  </body>
</html>
