---

---

<nav
  class="border-b-2 border-t-2 border-blue-700 text-sm text-blue-500 hover:text-blue-800 flex flex-col items-center justify-center mb-2"
>
  <ul class="flex divide-x divide-blue-700 p-2">
    <li>
      <a class="block px-2" href="/routes">Todas</a>
    </li>
    <li>
      <a class="block px-2" href="/routes/iniciante">Iniciante</a>
    </li>
    <li>
      <a class="block px-2" href="/routes/intermediario">Intermediário</a>
    </li>
    <li>
      <a class="block px-2" href="/routes/avancado">Avançado</a>
    </li>
  </ul>
</nav>
