---

---

<nav
  class="border-b-2 border-t-2 border-blue-400 text-sm text-blue-400 flex flex-col items-center justify-center mb-2"
>
  <ul class="flex divide-x divide-blue-700 p-2">
    <li>
      <a class="block px-2 hover:text-blue-600" href="/routes">Todas</a>
    </li>
    <li>
      <a class="block px-2 hover:text-blue-600" href="/routes/iniciante"
        >Iniciante</a
      >
    </li>
    <li>
      <a class="block px-2 hover:text-blue-600" href="/routes/intermediario"
        >Intermediário</a
      >
    </li>
    <li>
      <a class="block px-2 hover:text-blue-600" href="/routes/avancado"
        >Avançado</a
      >
    </li>
    <li>
      <a class="block px-2 hover:text-blue-600" href="/routes/desafio"
        >Desafio</a
      >
    </li>
  </ul>
</nav>
