---
import type { SocialMedia } from "../utils";
import SocialIcon from "./SocialIcon.astro";

interface Props {
  url: string;
  icon: SocialMedia;
}

const { url, icon } = Astro.props;
---

<li class="border-black border-2 rounded-full">
  <a href={url} class="block p-4">
    <SocialIcon id={icon} />
  </a>
</li>
