---
import { getCollection } from "astro:content";
import Nav from "../components/Nav.astro";
import SocialMedias from "../components/SocialMedias.astro";

const bio = await getCollection("bio");
const profile = bio[0];
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Links e Rotas de ciclismo compartilhadas por @gravel.alves"
    />
    <meta
      name="keywords"
      content="gravel, gravelbike, ciclismo, @gravel.alves, linksUteis"
    />
    <title>{profile.data.name}</title>
  </head>
  <body class="flex flex-col items-center justify-center p-4 pt-10">
    <Nav />
    <main>
      <slot />
    </main>
    <SocialMedias />
  </body>
</html>
